.contacts {
  max-width: 1440px;
  width: 100%;
  height: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
}
.content {
  width: 100%;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.item {
  font-weight: 500;
}

.link {
  font-weight: 700;
  cursor: pointer;
}

@media (max-width: 990px) {
  .contacts {
    gap: 30px;
  }
}
@media (max-width: 550px) {
  .contacts {
    gap: 20px;
  }
}
