.wrap {
  width: 100%;
  height: 700px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.bannerImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(60%);
}

.content {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 1440px;
  width: 100%;
  height: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
}

.title {
  color: white;
}

.subtitle {
  font-size: 19px;
  color: white;
}

.button {
  position: relative;
  display: inline-block;
  max-width: fit-content;
  background-color: transparent;
  border: 2px solid #9bbf00;
  color: #fff;
  padding: 12px 24px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 600;
  cursor: pointer;
  transition: color 0.5s ease;
}
.button::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0;
  background-color: #9bbf00;
  z-index: -1;
  opacity: 0;
  transition:
    width 0.5s ease,
    opacity 0.5s ease;
}

.button::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 10px;
  height: 2px;
  width: 0;
  margin: 0 24px;
  background-color: #fff;
  transition: width 0.5s ease;
}

.button:hover {
  color: #fff;
}

.button:hover::before {
  width: 100%;
  opacity: 1;
}

.button:hover::after {
  width: calc(100% - 48px);
}

@media (max-width: 1200px) {
  .hero {
    height: 500px;
  }
}

@media (max-width: 990px) {
  .wrap {
    height: 422px;
  }
}

@media (max-width: 550px) {
  .wrap {
    height: 300px;
  }

  .container {
    gap: 20px;
    padding: 30px 16px;
  }

  .subtitle {
    font-size: 14px;
  }

  .button {
    font-size: 12px;
    padding: 10px 18px;
  }

  .button::after {
    bottom: 8px;
    margin: 0 18px;
  }

  .button:hover::after {
    width: calc(100% - 36px);
  }
}
