.nav {
  display: flex;
  align-items: center;
  gap: 50px;
}

.link,
.phoneNum {
  text-decoration: none;
  font-weight: 500;
  color: var(--text-color);
  transition: all 0.3s;
}

.phoneNumIcon {
  display: none;
}

.link:hover {
  color: gray;
  transition: all 0.3s;
}

.contacts {
  display: flex;
  align-items: center;
  gap: 20px;
}

.contactsIcons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.contactsItem {
  list-style: none;
  width: 30px;
  height: 30px;
}

.contactsLink {
  display: block;
  width: 100%;
  height: 100%;
}

.contactsImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contactsLink:hover,
.phoneNum:hover {
  cursor: pointer;
}

.burger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 24px;
  height: 16px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 20;
}

.burger span {
  display: block;
  height: 2px;
  width: 100%;
  background: #222;
  border-radius: 2px;
  transition: all 0.3s;
}

.burger span:nth-child(2) {
  width: 70%;
}

.burger.active span:nth-child(1) {
  transform: translateY(7px) rotate(45deg);
}
.burger.active span:nth-child(2) {
  opacity: 0;
}
.burger.active span:nth-child(3) {
  transform: translateY(-7px) rotate(-45deg);
}

@media (max-width: 1200px) {
  .nav {
    gap: 30px;
  }

  .phoneTitle {
    display: none;
  }

  .phoneNum {
    font-size: 14px;
  }
}

@media (max-width: 990px) {
  .burger {
    display: flex;
  }

  .nav {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100vh;
    background: #fff;
    box-shadow: 2px 0 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    padding: 4rem 1.5rem;
    gap: 1.5rem;
    transition: left 0.3s ease;
    z-index: 15;
  }

  .open {
    left: 0;
    min-width: 400px;
  }

  .overlay {
    display: block;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 10;
  }

  .contacts {
    flex-direction: column;
  }
}

@media (max-width: 550px) {
  .container {
    padding: 8px 16px;
  }

  .logo {
    height: 30px;
    width: auto;
  }

  .headingTitle {
    display: none;
  }

  .open {
    width: 100%;
    min-width: 0;
  }
}
