.card {
  background: white;
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 100%;
  width: 250px;
  min-width: 250px;
  height: 300px;
  overflow: hidden;
  margin: 8px;
}

.text {
  color: #333;
  line-height: 1.45;
  font-size: 15px;
  flex-grow: 1;
  overflow: hidden;
  position: relative;
}

/* Размывающий градиент */
.text::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px; /* высота размытия */
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
  pointer-events: none;
}

.date {
  font-size: 13px;
  opacity: 0.6;
}

/* ===== Skeleton base ===== */

.skeleton {
  .skeletonName,
  .skeletonText,
  .skeletonDate {
    border-radius: 8px;
    background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
    background-size: 200% 100%;
    animation: pulse 1.5s infinite linear;
  }

  .skeletonName {
    width: 60%;
    height: 20px;
  }

  .skeletonText {
    width: 100%;
    flex-grow: 1;
    height: 80%;
  }

  .skeletonDate {
    width: 40%;
    height: 14px;
  }
}

/* ===== Animation ===== */

@keyframes pulse {
  0% {
    background-position: -200px 0;
  }
  100% {
    background-position: calc(200px + 100%) 0;
  }
}
