.langSwitcher {
  position: relative;
  display: inline-block;
}

.button {
  display: flex;
  align-items: center;
  gap: 6px;

  padding: 6px 10px;
  border-radius: 6px;
  border: 1px solid #e5e7eb;
  background: #fff;

  cursor: pointer;
  transition:
    background-color 0.2s ease,
    box-shadow 0.2s ease;

  &:hover {
    background-color: #f9fafb;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  }
}

.flag {
  display: block;
  border-radius: 2px;
}

.label {
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
}

.dropdown {
  position: absolute;
  top: calc(100% + 6px);
  right: 0;
  z-index: 20;
  overflow: hidden;

  background: #fff;
  border-radius: 6px;
  border: 1px solid #e5e7eb;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.12);

  list-style: none;
  margin: 0;

  opacity: 0;
  transform: translateY(-6px) scale(0.98);
  pointer-events: none;

  transition:
    opacity 0.15s ease,
    transform 0.15s ease;
}

.langSwitcher[data-open='true'] .dropdown {
  opacity: 1;
  transform: translateY(0) scale(1);
  pointer-events: auto;
}

.option {
  display: flex;
  align-items: center;
  gap: 8px;

  padding: 6px 8px;
  // border-radius: 6px;

  font-size: 12px;
  cursor: pointer;

  transition:
    background-color 0.15s ease,
    transform 0.1s ease;

  &:hover {
    background-color: #f3f4f6;
  }

  &:active {
    transform: scale(0.98);
  }
}
